<div class="container rounded my-5">
  <app-menu></app-menu>

  <div class=" p-3 row row-cols-4-auto m-auto justify-content-md-center">
    
    <div *ngFor="let product of products" class="card" style="max-width: 18rem">
      <img src="" class="card-img-top" alt="" />
      <div class="card-body">
        <h5 class="card-title">{{ product }}</h5>
        <p class="card-text">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <a href="#" class="btn btn-primary">Apartar</a>
      </div>
    </div>

    
  </div>
</div>
