.container{
    background-color: thistle;
}

.abs-center{
    display:flex;
    align-items :center;
    justify-content: center;
    min-height: 100vh;
}


.btn-outline-dark{
    border-color: thistle;
    color: rgb(184, 90, 184);
}

.btn-outline-dark:hover{
    background-color: thistle;
    color: white;
}
