<div class="abs-center">
  <div class="container rounded m-5 pb-5" style="height: 100%">
    <app-menu></app-menu>

    <div class="p-3 row row-cols-4-auto m-auto p-1 justify-content-md-center">
      <div
        *ngFor="let product of products"
        class="card m-1 shadow"
        style="max-width: 18rem"
      >
        <img src="" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ product }}</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a class="btn btn-outline-dark">Apartar</a>
        </div>
      </div>
    </div>

    <div class="card m-auto shadow" style="width: 8rem">
      <div class="card-body">
        <a class="btn btn-outline-dark">
          <img
            src="../../assets/ic_add.png"
            class="card-img-top"
            alt="icono_agregar"
        /></a>
      </div>
    </div>
  </div>
</div>
